img{
  border-radius: 10px;
}

.link{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.link:hover{
  opacity: 0.7;
}

.socialLink{
    transition: .6s ease;
}


/* Scrolling */

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.snapPoint {
  scroll-snap-align: start;
}